<div id="settings">

  <%= render :partial => 'settings_menu' %>

  <p class="intro">Als u uw wachtwoord wilt wijzigen kunt u dit hier doen. U moet uw huidge wachtwoord en twee maal het nieuwe wachtwoord invoeren.</p>

  <p style="color: green"><%= flash[:settings] %></p>

  <% form_for @user, :url => { :action => "update_password" } do |f| %>
    <%= f.error_messages %>


    <p>
      <label for="old_password">Huidig wachtwoord:</label><br />
      <%= password_field_tag :old_password, params[:old_password]  %>
    </p>

    <p>
      <label for="password">Nieuw wachtwoord:</label><br />
      <%= password_field_tag :password, params[:password]  %>
    </p>

    <p>
      <label for="password_confirmation">Nieuw wachtwoord opnieuw:</label><br />
      <%= password_field_tag :password_confirmation, params[:password_confirmation]  %>
    </p>
    <p>
      <%= submit_tag "Wachtwoord wijzigen" %>
    </p>
  <% end %>

</div>