<p class="intro">
	Op deze pagina kunt u de gegevens van uw fotoalbum aanpassen.
</p>

<div id="edit-form"> 
	<% form_for(@photo_album,:html => { :multipart => true }) do |f| %>
		<p>
			<%= f.label :title, "Titel:" %>
			<% if (@title_error) %>
				<span class="error-message"> er moet een titel worden ingevuld.</span>
			<% end %>
			<%= f.text_field :title, :class => 'text-box' %>
		</p>
		<p>
			<%= f.label :description, "Beschrijving:" %>
			<% if (@description_error) %>
				<span class="error-message"> er moet een beschrijving worden ingevuld.</span><br />
			<% end %>
			<%= f.text_area :description, :rows => 12 %>
		</p>
		<p>
			<label>Huidige voorbeeld afbeelding:</label><br>
			<%= image_tag "small/" + @photo_album.preview_picture %>
		</p>
		<p>
			<%= f.label :preview_picture, "Nieuwe voorbeeld afbeelding kiezen:" %>
			<% if (@preview_picture_error) %>
				<span class="error-message"> er moet een geldige voorbeeld afbeelding worden geselecteerd.</span>
			<% end %>
			<br>
			<%= f.file_field :preview_picture %>
		</p>
		<p>
			<%= f.submit "Aanpassingen opslaan" %>
		</p>
	<% end %>
</div>

<%= link_to '&laquo; Terug naar het overzicht', photo_albums_path, :class => 'back' %>